@import "null.scss";



.wrapper{
   overflow: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}


._conteiner{
   max-width: 1109px;
   margin: 0 auto;
   box-sizing: content-box;
}


//-------------------header-------------------------------//

.header {
   // display: none;
   position: absolute;
   left: 0;
   top: 0;
   z-index: 500px;
   width: 100%;
   min-height: 44px;
   background-color: #000000;
   font-family: 'PT Sans';
   font-weight: 400;
   font-size: 12px;
   box-sizing: border-box;
}
.header__up {
   width: 100%;
   background-color: #000000;
}

.header-up__conteiner {
   display: flex;
   justify-content: space-between;
   padding: 14px 15px 14px 15px;
}
.header-up__infos{
   display: flex;

}

.header-up__info {
   color: grey;
}
.header-up__infos:not(:last-child){
   .header-up__info::after{
      content: "|";
      margin-left: 14px;
      margin-right: 14px;
   }
}

.header-up__infos::before{
   content: url(../../img/header/Vector.png);
   margin-right:15px;
}


.header-up__registration {
   display: flex;
}
.header-up__registration-logo {
   padding-right: 10px;
}
.header-up__registration-link {
   color: grey;
}

.header-up__registration-link:not(:last-child){
   .header-up__registration-link::after{
      content: '/';
      margin: 0px 12px;
   }
}






.header-bottom{
   background-color: #0F0F0F;
   max-height: 80px;
}
.header-bottom__conteiner {
   padding: 0px 15px;
   display: flex;
   justify-content: space-between;
}
.haeder-bottom__left-side{
   display: flex;
   margin: 25px 0px 30px 0px;
}
.haeder-bottom__right-side{
   display: flex;
   margin: 32px 0px 30px 0px;
   font-size: 14px;
   text-transform: uppercase;
}

.header-bottom__logo {
}
.header-bottom__nav {
   .header-bottom__link{
      color:white;
   }
}

.header-bottom__link:not(:last-child){
   margin-right: 40px;
}
.header-bottom__icon {
   margin-left: 60px;
}
.header-bottom__icon-link:not(:last-child){
   margin-right:40px ;
}

//--------------------main-block-----------------------------------//
.page {
   margin-top: 124px;
}

.main-block {
   min-height: 810px;
   width: 100%;
   color: white;
   background-image: url(../img/main-block-intro/Rectangle3.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.main-block__conteiner {
   min-height: 810px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.main-block__body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.main-block__square {
   display: flex;
   flex-direction: column;
   height: 320px;
   width: 320px;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin-bottom: 173px;
   border: 5px solid white;
}
.main-block__square-titel {
   font-family: 'Post No Bills Jaffna';
   font-size: 64px;
}
.main-block__square-city {
   font-size: 22px;
}
.main-block__square-line{
   margin-top: 5px;
   margin-bottom: 7px;
}
.main-block__text {
   font-family: 'PT Sans';
   font-size: 16px;
   text-align: center;
   line-height: 150%;
   text-transform: uppercase;
}
.intro-block__image {
}
._ibg {
}