@import "null.scss";
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Koulen&family=Montserrat:wght@400;500;600&family=Mukta+Vaani&family=Roboto&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Koulen&family=Montserrat:wght@400;500;600&family=Mukta+Vaani&family=Raleway:wght@700;900&family=Roboto&family=Work+Sans&display=swap');



.wrapper{
   overflow: hidden;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}


._conteiner{
   max-width: 1520px;
   margin: 0 auto;
   box-sizing: content-box;
}
//------------------------header-----------------------//

.header {
   position: absolute;
   z-index: 50;
   left: 0;
   top: 0;
   width: 100%;
   min-height: 80px;
   background-color: white ;
}
.header__conteiner {
   padding: 30px 0px;
}
.header__body{
   display: flex;
   justify-content: space-between;
   height:20px ;
   align-items: center;
   margin: 0px 5px;
}  
.header__nav {
   display: flex;
   
}
.heaeder-logo {
}
.header__nav-button {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   margin-left: 100px;
   display: flex;
   align-items: center;
   color: #464649;
   flex-wrap:wrap ;

}
.header__nav-button-link:not(:last-child){
   margin-right: 40px;
}

@media (max-width:1075px){
   .header__nav-button-link:not(:last-child){
      margin-right: 30px;
   }
   .header__nav-button {
      margin-left: 70px;
   }
}

@media (max-width:1000px){
   .header__nav-button-link:not(:last-child){
      margin-right: 20px;
   }
   .header__nav-button {
      margin-left: 50px;
      display: none;
   }
}


.header__contacts {
   display: flex;
   justify-content: space-between;
   width:352px;
   align-items: center;
}
.header__contacts-number {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
}
.header__contacts-call {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   border: 1px solid #16467D;
   border-radius: 6px;
   padding: 12px 24px;
   background-color: #16467D;
   color: white;
}
.header__contacts-call:hover {

}

.header__contacts-number::before{
   content: url(../../img/header/phone.jpg) ;
   margin-right: 10px;
}

@media (max-width:945px){
   .header__contacts{
      display: none;
   }
   .header__nav-button-link:not(:last-child){
      margin-right: 15px;
   }
   .header__nav-button {
      margin-left: 20px;
      font-size: 18px;
   }
   // .header__body{
   //    justify-content:space-between;
   // }  
}
.main-screen {
   flex: 1 0 100%;
   position: relative;
}

//------------------------------main-----------------------------//
.page{
   position: relative;
   margin-top: 80px;
   color: white;
}
.page__main-intro {
   max-height: 800px;
   background-image: url(/img/main-intro/air-conditioner-on-red-wall-2021-08-26-22-28-09-utc.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 80% 0;
   padding: 0px 5px;

}

.intro__body {
   padding: 146px 0px 222px 0px;
   word-wrap: normal;
   max-height: 800px;

}
.intro__title {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 800;
   font-size: 80px;
   line-height: 94px;
   word-wrap: break-word;
}
.intro__text {
   margin-top: 20px;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 24px;
}
.intro__button {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   margin-top: 60px;
}
.intro__buttnon-link{
   border: 1px solid #16467D;
   padding: 19px 117px 19px 117px;
   background-color: #16467D;
   color: white;
}

._ibg {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 800px;
   z-index: -100;
}


@media (max-width:700px){
   .intro__title {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 800;
      font-size: 70px;
   }


}
@media (max-width:1355px){
   ._ibg{
      opacity: 0.9;
   }
   .intro__title {
      color: #16467D;
   }
}
@media (max-width:500px){
   .intro__title {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 74px;

   }
   .intro__buttnon-link{
      padding: 15px 40px 15px 40px;
   }

}





//---------------------------breds-----------------------------//


.page__main-brends {
   height: 170px;
}

.brends__conteiner {
   padding-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   height: 170px;

}

.brends__title {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 24px;
   margin-bottom: 30px;
   color: #464649;
}
.brends__name {
   max-width: 1520px;
   // display: flex;
   flex-wrap:wrap ;
}
.brends__name-img{
   margin-bottom: 15px ;
}
.brends__name-img:not(:last-child){
   margin-right: 92px;
}

@media (max-width:650px){
   .brends__name-none {
      width: 100%;
   }

}
@media (max-width:1530px){
   .brends__name {
      justify-content: center;
   }
   .brends__name-img{
      width: auto;
   }
}
@media (max-width:1200px){
   .brends__name-img:not(:last-child){
      margin-right: 12px;
   }
}
//-----------------------services------------------------------------//




.page__main-services {
   min-height: 761px;
   width: 100%;
   margin-top: 100px;
}

.services__conteiner {
   width: 100%;
}
._conteiner {
}
.services__title {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 50px;
   color: black;
   display: flex;
   flex-direction: column;
}
.services__title::after{
   content: url(../../img/main-services/line.png);
}

.services__work {
   display: flex;
}
.services__work-exaple-one {
   width: 100%;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   margin-right: 80px;  
}  
.exaple-one {
}
.exaple-one__img {
   margin: 30px 0px 20px 0px;
}
.exaple-one__img img {
   width: 100%;
}
.exaple-one__title {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   color: black;
   margin-bottom: 10px;

}
.example-one__text {
   color: #464649;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
}
.example-one__button {
   margin-top: 32px;

}
.services__work-exaple-two {
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
}
.example-one__button-link{
   border: 1px solid #16467D;
   padding: 12px 54px 12px 54px;
   background-color: #16467D;
   color: white;
   border-radius: 6px;

}
.exaple-two {
   width: 100%;
}
.exaple-two__img {
   margin: 30px 0px 20px 0px;

}
.exaple-two__img img {
   width: 100%;

}
.exaple-two__title {
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   color: black;
   margin-bottom: 10px;
}
.example-two__text {
   color: #464649;
   font-family: 'Montserrat';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
}
.example-two__button {
   margin-top: 32px;
}

.example-two__button-link{
   border: 1px solid #16467D;
   padding: 12px 54px 12px 54px;
   background-color: #16467D;
   color: white;
   border-radius: 6px;
}

@media (max-width:885px){
   .services__title{
      text-align: center;
      margin-top: 100px;
   }
}

@media (max-width:1015px){
   .services__work{
      display:block;
   }
   .exaple-one {
      margin-bottom: 100px;
   }
}
@media (max-width:430px){
   .services__title{
      text-align: center;
      margin-top:150px;
   }
}
@media (max-width:312px){
   .services__title{
      text-align: center;
      margin-top: 240px;
   }

}


















